<div class="filter">
  <div class="form">
      <div class="form__name">
          <mat-form-field class="example-full-width">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Ex. Fulano da Silva" [(ngModel)]="filterOptions.name" (input)="onFilterChange()" />
          </mat-form-field>
      </div>

      <div class="form__date-picker">
          <mat-form-field>
              <mat-label>Insira um período</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Data inicial" [(ngModel)]="filterOptions.startDate" />
                <input matEndDate placeholder="Data final" [(ngModel)]="filterOptions.endDate" />
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
      </div>

      <div class="form__status">
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="filterOptions.status">
            <!-- <mat-option  *ngFor="let status of statusList" [value]="status.value">{{ status.description }}</mat-option> -->
            @for (status of statusList; track statusList) {
              <mat-option [value]="status.value" (click)="onFilter()">{{ status.description }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form__button">
        <button mat-raised-button color="primary" (click)="onFilter()">Filtrar</button>
        <button mat-raised-button color="secundary" (click)="noFilter()">Limpar</button>
      </div>
  </div>
</div>
